*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border: 2px solid #000;
    border-radius: 15px;
    padding: 30px;
    background-color: gray;
    display: flex;
    width: auto;
    flex-direction: row;
}


.numbers{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 200px;
    gap: 20px;
}

.btn{
    width: 40px;
    height: 40px;
    font-size: 26px;
    padding: 2px;
    font-weight: bold;
    text-align: left;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity .2s;
}



.btn.btn-cancel, .btn.btn-clear, .btn.btn-enter{
    width: 100%;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-none{
    width: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    height: 40px;
}

.btn-cancel{
    background-color: red;
}

.btn-clear{
    background-color: yellow;
}

.btn-enter{
    background-color: green;
}

.action{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65px;
}

.btn:hover{
    opacity: .7;
}

.input{
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 26px;
    padding-left: 2px;
}